<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>Thông tin Sinh viên</h1>

    <p>MSSV: <span th:text="${sinhVien.mssv}"></span></p>
    <p>Họ tên: <span th:text="${sinhVien.hoTen}"></span></p>
    <p>Năm sinh: <span th:text="${sinhVien.namSinh}"></span></p>
    <p>Giới tính: <span th:text="${sinhVien.gioiTinh}"></span></p>
    
    <h1>Thông tin Sinh viên</h1>

    <p>MSSV: <span th:text="${sinhVien2.mssv}"></span></p>
    <p>Họ tên: <span th:text="${sinhVien2.hoTen}"></span></p>
    <p>Năm sinh: <span th:text="${sinhVien2.namSinh}"></span></p>
    <p>Giới tính: <span th:text="${sinhVien2.gioiTinh}"></span></p>

</body>
</html>