<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="dauTrang">
	FrameWorkSpringBoot
</div> 
<div th:fragment="chanTrang">
    <p>© 2025 NHD</p>
</div>

</div> 
<div th:fragment="sideBar">
	<div th:fragment="sideBar">
    <h3>Danh mục</h3>
    <ul style="list-style-type: none; padding: 0;">
        <li>🔹 <a href="#">About</a></li>
    </ul>
</div>

</div> 

  	
</body>
</html>