<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Sinh Viên</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
	<div th:replace="layout :: header"></div>
	<div class="body">
		<div class="content">
			<div class="list">
	        	<h2>Danh Sách Sinh Viên</h2>
		        <table>
		            <thead>
		                <tr>
		                    <th>MSSV</th>
		                    <th>Họ Tên</th>
		                    <th>Điểm trung bình</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="sv : ${svs}">
		                    <td th:text="${sv.mssv}"></td>
		                    <td th:text="${sv.hoTen}"></td>
		                    <td th:text="${sv.diemTB}"></td>
		                </tr>
		            </tbody>
		        </table>
		        <div class=btn><a th:href="@{/addNew}" style="color: white">Add New</a></div>
		    </div>
		</div>
		<div th:replace="layout :: sidebar"></div>
	</div>
    
    <div th:replace="layout :: footer"></div>
</body>
</html>